<div class="layout-wrapper">
    <div id="layout-sidebar" [ngClass]="{'active': menuActive}">
        <div class="layout-menu">
            <a id="data_menutitle" #datamenutitle [class.active-menuitem]="datamenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === datamenutitle.id ? null : datamenutitle.id)">
                <img src="assets/showcase/images/icons/data-active.svg" class="layout-menu-icon-active"/>
                <img src="assets/showcase/images/icons/data.svg" class="layout-menu-icon-inactive"/>
                <span>Data</span>
            </a>
            <div [ngClass]="{'submenushow': (datamenutitle.id == activeMenuId), 'submenuhide': (datamenutitle.id != activeMenuId)}">
                <a [routerLink]="['/treetable']" (click)="menuActive = false">&#9679; TreeTable</a>
            </div>
        </div>
    </div>

    <div class="layout-mask" *ngIf="menuActive">
    </div>

    <div id="layout-content">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>


    
